.Doing {
  color: white;
  padding: 5px;
}

.pomodoro {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.clock {
  width: 100%;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 70px;
  text-align: center;
}

.controls {
  display: flex;
  column-gap: 10px;
}