.Doing .pomodoro {
  align-items: center;
  row-gap: 50px;
}

.Doing .clock {
  width: fit-content;
  border: 1px solid red;
  border-radius: 20px;
  padding: 0 5%;
  font-size: 8vw;
  text-align: center;
  font-family: 'CustomFont', monospace;
}

.Doing .controls {
  width: 100%;
  justify-content: center;
  display: flex;
  column-gap: 10px;
}

.Doing .motivational {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.Doing .motivational p:first-of-type {
  font-style: italic;
}

.Doing .motivational p:last-of-type {
  font-size: 0.7rem;
}
