.Footer .header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Footer .info-content,
.Footer .settings-content {
  font-size: 0.8rem;
}

.Footer .settings-content .confirm-dialog p {
  color: red;
}

.Footer .settings-content p .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}