.Todo {
  width: 100%;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.Todo header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Todo header span span {
  font-size: 24px;
}

.Todo header h1 {
  font-size: 22px;
}

.Todo ul {
  width: 95%;
  align-self: flex-end;
  font-size: 12px;
}

.Todo ul .dones {
  color: rgb(101, 101, 101);
}

.Todo footer {
  display: flex;
  column-gap: 12px;
}

.Todo footer button {
  width: fit-content;
  font-size: 16px;
  text-wrap: nowrap;
}

.Todo footer input {
  width: 100%;
}