button {
  border: 1px solid rgb(79, 79, 79);
  border-radius: 5px;
  padding: 1%;
  white-space: nowrap;
  cursor: pointer;
}

.bigBtn {
  font-size: 2vw;
}

.midBtn {
  font-size: 1.2vw;
}

.input {
  width: 100%;
  padding: 1%;
  border: 1px solid red;
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: black;
}

.sub-container {
  width: 100%;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.counter-stats {
  font-size: 24px;
  font-weight: 700;
}

.ul {
  width: 95%;
  align-self: flex-end;
}

.li {
  padding: 5px 0;
  font-size: 0.8rem;
}

.hide {
  display: none !important;
}

li {
  list-style: none;
}

.App {
  width: 98vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.main-section {
  height: 92%;
  display: flex;
  gap: 1%;
}

.main-footer {
  height: 8%;
  display: flex;
}

.Todos,
.Doing,
.Done,
.Footer {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 1%;
  align-items: center;
  overflow-y: auto;
}

.Footer {
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: bisque;
}

@media (width <=720px) {
  .main-section {
    flex-direction: column;
    overflow-y: auto;
  }

  .Todos,
  .Doing,
  .Done,
  .Footer {
    height: fit-content;
    overflow-y: visible;
    gap: 10px;
  }

  .clock {
    font-size: 16vw;
  }

  button {
    font-size: 4vw;
  }
}