button {
  font-size: 22px;
  cursor: pointer;
}

.hide {
  display: none;
}

.App {
  width: 98vw;
  height: 95vh;
  display: flex;
  justify-content: space-between;
  column-gap: 1%;
}

.Todo,
.Doing,
.Done {
  width: 33%;
  border: 1px solid red;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width <=720px) {
  .App {
    flex-direction: column;
    row-gap: 1%;
  }
}