* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'CustomFont';
  src: url('/customFont.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
